.container {
  text-align: center;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    
}

div.result {
  text-align: center;
}


div.output {
  text-align: center;
}

div.outcome {
  text-align: center;
}

.scores {
  margin-top: 50px;

}

div.points {
  padding: 10px;
}

span {
  color: red;
}